@page "/AddVeiculo"
@using ControleEstacionamento.Data
@inject VeiculoService objManService
@inject NavigationManager NavigationManager

<h3>Novo Veiculo</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Marca" class="control-label">Marca</label>
                <input form="Marca" class="form-control" @bind="@veiculo.Marca" />
            </div>
            <div class="form-group">
                <label for="Modelo" class="control-label">Modelo</label>
                <input form="Modelo" class="form-control" @bind="@veiculo.Modelo" />
            </div>
            <div class="form-group">
                <label for="Placa" class="control-label">Placa</label>
                <input form="Placa" class="form-control" @bind="@veiculo.Placa" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="@CreateVeiculo" value="Salvar" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</form>

@code {
    Data.Veiculo veiculo = new Data.Veiculo();

    protected void CreateVeiculo()
    {
        objManService.Create(veiculo);
        NavigationManager.NavigateTo("Veiculo");

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Veiculo");
    }

}
